h2{
    background-color: aqua;
    text-align: center;

}
div{
    color: blue;
    text-align: center;
}






























































